.k-rating
{
    color: #25A0DA;
    font-size: 16px;
}

.k-rating-item
{
    height: 18px;
    width: 18px;
    display: inline-block;
}

.k-rating-empty
{
    color: #767676;
}

.k-rating-star
{
    color: #25a0da;
}